// Colors 
$main: #6BBB26;
$main-light: #F1FDD6;
$second: #138173;
$second-light: #1EA182;
$gray: #eee;
$gray-light: #f5f5f5;
$gray-dark: #9E9E9E;
$white: #fff;
$black: #212121;
$overlay: rgba(0,0,0,.04);

